body {
  margin: 20px, auto, 20px, auto;
  margin-top: 0px;
  padding: 0;
  height: 0%;
  box-sizing: border-box;
    font-family: sans-serif;
}
h2 {
  font-family: sans-serif;
  font-size: 1.25em;
}
a {
text-decoration: none;
}
li {
  list-style: none;
}
nav ul {
  min-height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #81d4fa;

}
.flex-container {
  padding: 0;
  margin: auto;
  margin-top: 20px;
  list-style: none;
  display: flex;
  align-self: center;
  justify-content: center;
  /*-webkit-flex-flow: row wrap;*/
  /*flex-wrap: wrap;*/
}

.flex-container-2 {
  padding: 0;
  margin: auto;
  margin-top: 20px;
  list-style: none;
  display: flex;
  align-self: center;
  justify-content: center;
  direction: rtl;
  /*-webkit-flex-flow: row wrap;*/
  /*flex-wrap: wrap;*/
}

.flex-container-3 {
  padding: 0;
  margin: auto;
  margin-top: 20px;
  list-style: none;
  display: flex;
  align-self:center;
  justify-content: center;
  align-items: center;
  direction: rtl;
  /*-webkit-flex-flow: row wrap;*/
  /*flex-wrap: wrap;*/
}

.box-1 {

  display: flex;
}

.box-2-3 {
display: flex;
margin-left: 20px;
margin-right: 20px;
flex-direction: column;

}

.box-2-4 {
display: flex;
margin: auto;
margin-left: 10px;
margin-right: 10px;
flex-direction: column;
align-items: center;
}
.button {
    background-color: #fff; /* Green */
    border: 2px solid black;
    color: black;
    height: 50px;
    width: 165px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button2:hover {

    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button3 {
    background-color: #fff; /* Green */
    border: 2px solid black;
    color: black;
    height: 50px;
    width: 175px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button3:hover {

    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
